menu "Drivers"

config PWM_MOTORS_DRV
    bool "Zephyr PWM motors driver"
    default y
    depends on PWM && DT_HAS_PWM_MOTORS_ENABLED
    help
      Enable PWM motors driver for pwm-motors compatible.

endmenu
