/ {
    pwm_inputs: pwm-inputs {
        compatible = "pwm-inputs";
        channel0: channel0 {
            pwms = < &pwm0 1 0 0 >;
        };
        channel1: channel1 {
            pwms = < &pwm0 2 0 0 >;
        };
        channel2: channel2 {
            pwms = < &pwm1 1 0 0 >;
        };
        channel3: channel3 {
            pwms = < &pwm1 2 0 0 >;
        };
        channel4: channel4 {
            pwms = < &pwm2 1 0 0 >;
        };
        channel5: channel5 {
            pwms = < &pwm2 2 0 0 >;
        };
    };
};

&i2c1 {
    imu: mpu6050@68 {
        status = "okay";
        compatible = "invensense,mpu6050";
        reg = < 0x68 >;
    };
};

&timers1 {
    status = "okay";
    st,prescaler = <100>;

    pwm0: pwm {
        status = "okay";
        pinctrl-0 = < &tim1_ch1_pc0 &tim1_ch2_pc1 >;
	    pinctrl-names = "default";
    };
};

&timers2 {
    status = "okay";
    st,prescaler = <100>;

    pwm1: pwm {
        status = "okay";
        pinctrl-0 = < &tim2_ch1_pa0 &tim2_ch2_pa1 >;
        pinctrl-names = "default";
    };
};

&timers8 {
    status = "okay";
    st,prescaler = <100>;

    pwm2: pwm {
        status = "okay";
        pinctrl-0 = < &tim8_ch1_pc6 &tim8_ch2_pc7 >;
        pinctrl-names = "default";
    };
};

/*
&timers3 {
    status = "okay";
    st,prescaler = <100>;

    pwm3: pwm {
        status = "okay";
        pinctrl-0 = < &tim3_ch1_pb4 >;
        pinctrl-names = "default";
    };
};

&timers4 {
    status = "okay";
    st,prescaler = <100>;

    pwm4: pwm {
        status = "okay";
        pinctrl-0 = < &tim4_ch1_pa11 &tim4_ch2_pa12 >;
        pinctrl-names = "default";
    };
};
*/

/* This one will not work together with timers1 due to shared IRQ */
&timers15 {
    status = "disabled";

    pwm5: pwm {
        status = "disabled";
    };
};
