/ {
    chosen {
        zephyr,code-partition = &slot0_partition;
        zephyr,settings-partition = &storage_partition;
    };

    aliases {
        pwm-motors = &pwm_motors;
        imu = &lsm6dso;
        sbus = &sbus_uart;
    };

    pwm_motors: pwm-motors {
        compatible = "pwm-motors";
        motor0: motor0 {
            pwms = < &pwm0 3 0 0 >;
        };
        motor1: motor1 {
            pwms = < &pwm0 4 0 0 >;
        };
        motor2: motor2 {
            pwms = < &pwm2 3 0 0 >;
        };
        motor4: motor4 {
            pwms = < &pwm2 4 0 0 >;
        };
    };
};

&lsm6dso {
    accel-range = < 2 >;
    /* LPF1 cutoff frequency 104 / 2 Hz. */
    accel-odr = < 4 >;
    gyro-range = < 2 >;
    /* LPF2 cutoff frequency 104 / 2 Hz. */
    gyro-odr = < 4 >;
};

sbus_uart: &usart3 {
    data-bits = < 8 >;
    parity = "even";
    stop-bits = "2";
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        slot0_partition: partition@0 {
            label = "image-0";
            reg = <0x00000000 0x00076000>;
        };
        storage_partition: partition@76000 {
            label = "storage";
            reg = <0x00076000 0x00004000>;
        };
    };
};
