/ {
    aliases {
        pwm-inputs = &pwm_inputs;
        pwm-motors = &pwm_motors;
        imu = &lsm6dso;
    };

    pwm_inputs: pwm-inputs {
        compatible = "pwm-inputs";
        channel0: channel0 {
            pwms = < &pwm0 1 0 0 >;
        };
        channel1: channel1 {
            pwms = < &pwm0 2 0 0 >;
        };
        channel2: channel2 {
            pwms = < &pwm1 1 0 0 >;
        };
        channel3: channel3 {
            pwms = < &pwm1 2 0 0 >;
        };
        channel4: channel4 {
            pwms = < &pwm2 1 0 0 >;
        };
        channel5: channel5 {
            pwms = < &pwm2 2 0 0 >;
        };
    };

    pwm_motors: pwm-motors {
        compatible = "pwm-motors";
        motor0: motor0 {
            pwms = < &pwm0 3 0 0 >;
        };
        motor1: motor1 {
            pwms = < &pwm0 4 0 0 >;
        };
        motor2: motor2 {
            pwms = < &pwm2 3 0 0 >;
        };
        motor4: motor4 {
            pwms = < &pwm2 4 0 0 >;
        };
    };
};
